<!-- Include header -->
<%- include('include/_header') %>
<!-- Include header -->

<!-- Main Site -->
<main id="site-main">

  <!-- user form layout container -->
  <div id="add-user-form-container">
    <%- include('include/_add_user_form') %>
    <div class="add-color-section blue-gradient drop-shadow">
        To all the adventures you'll go on.
    </div>
  </div>
  <!-- user form layout container -->
</main>
<!-- Main Site -->

<!-- Include footer -->
<%- include('include/_footer') %>
<!-- Include footer -->