<!-- Include header -->
<%- include('include/_header') %>
<!-- Include header -->

<!-- Main Site -->
<main id="site-main" class="add-user-main">

  <!-- user form layout container -->
  <div class="form-container glass">
    <%- include('include/_add_user_form') %>
    <div class="side-section">
      <h1 class="section-header">
        “A bird sitting on a tree is never afraid of the branch breaking, because her trust is not on the branch but on her own wings.”
      </h1>
      <p>— Anonymous</p>
  </div>
  </div>
  <!-- user form layout container -->
</main>
<!-- Main Site -->

<!-- Include footer -->
<%- include('include/_footer') %>
<!-- Include footer -->