<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birdly</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav class="space-between drop-shadow">
        <a class="logo">Birdly <i class="fa-solid fa-kiwi-bird"></i></a>
        <h5 class="text-center"><%= locals.user ? user.name : "" %></h5>
        <div class="icons-container">
          <a href="/sign-in">
            <i class="fa-solid fa-user"></i>
          </a>
          <a href="/add-user">
            <i class="fa-solid fa-user-plus"></i>
          </a>
          <a href="/update-user">
            <i class="fa-solid fa-user-pen"></i>
          </a>
          <a href="/logout">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </div>    
      </nav>
    </header>
    <!-- Header -->