<li class="sighting drop-shadow">
  <p><i class="fa-solid fa-calendar"></i> 2023-02-10</p>
  <p><i class="fa-solid fa-clock"></i> 17:34</p>
  <p><i class="fa-solid fa-crow"></i> Montezuma Oropendula</p>
  <p><i class="fa-solid fa-tree"></i> In a tree</p>
</li>
<li class="sighting drop-shadow">
  <p><i class="fa-solid fa-calendar"></i> 2023-02-10</p>
  <p><i class="fa-solid fa-clock"></i> 17:34</p>
  <p><i class="fa-solid fa-crow"></i> Montezuma Oropendula</p>
  <p><i class="fa-solid fa-tree"></i> In a tree</p>
</li>
<li class="sighting drop-shadow">
  <p><i class="fa-solid fa-calendar"></i> 2023-02-10</p>
  <p><i class="fa-solid fa-clock"></i> 17:34</p>
  <p><i class="fa-solid fa-crow"></i> Montezuma Oropendula</p>
  <p><i class="fa-solid fa-tree"></i> In a tree</p>
</li>
<li class="sighting drop-shadow">
  <p><i class="fa-solid fa-calendar"></i> 2023-02-10</p>
  <p><i class="fa-solid fa-clock"></i> 17:34</p>
  <p><i class="fa-solid fa-crow"></i> Montezuma Oropendula</p>
  <p><i class="fa-solid fa-tree"></i> In a tree</p>
</li>
<li class="sighting drop-shadow">
  <p><i class="fa-solid fa-calendar"></i> 2023-02-10</p>
  <p><i class="fa-solid fa-clock"></i> 17:34</p>
  <p><i class="fa-solid fa-crow"></i> Montezuma Oropendula</p>
  <p><i class="fa-solid fa-tree"></i> In a tree</p>
</li>
<li class="sighting drop-shadow">
  <p><i class="fa-solid fa-calendar"></i> 2023-02-10</p>
  <p><i class="fa-solid fa-clock"></i> 17:34</p>
  <p><i class="fa-solid fa-crow"></i> Montezuma Oropendula</p>
  <p><i class="fa-solid fa-tree"></i> In a tree</p>
</li>
<li class="sighting drop-shadow">
  <p><i class="fa-solid fa-calendar"></i> 2023-02-10</p>
  <p><i class="fa-solid fa-clock"></i> 17:34</p>
  <p><i class="fa-solid fa-crow"></i> Montezuma Oropendula</p>
  <p><i class="fa-solid fa-tree"></i> In a tree</p>
</li>