<!-- sighting form partial file -->
<form id="sighting-form" method="POST" action="/api/report">
    <label for="date">Date</label>
    <input type="date" id="date" name="date">

    <div class="division"></div>
  
    <label for="time">Time</label>
    <input type="time" id="time" name="time">

    <div class="division"></div>
  
    <label for="species">Species</label>
    <input type="text" id="species" name="species">

    <div class="division"></div>
  
    <label for="locationType">Location Type</label>
    <select id="locationType" name="locationType">
      <option value="">Select a Location Type</option>
      <option value="forest">Forest</option>
      <option value="mountain">Mountain</option>
      <option value="lake">Lake</option>
    </select>

    <div class="division"></div>
  
    <input type="hidden" name="id" value="<%= user._id %>">
    <input type="submit" value="Report Sighting">
</form>
<!-- sighting form partial file -->
  