@import url("https://fonts.googleapis.com/css2?family=Khula&family=Maven+Pro&family=Mukta&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* 
FONTS
font-family: 'Maven Pro', sans-serif; ~ titles
font-family: 'Mukta', sans-serif; ~ sub-titles
font-family: 'Khula', sans-serif; ~ p
font-family: 'Pacifico', cursive;
*/

:root {
  /* COLOR THEME */
  --white: rgb(255, 255, 255);
  --blue_light: #5abbe4;
  --blue: #5d6fa3;
  --background_light: #3d4c79;
  --background_dark: #2f3b5e;
  --background_darker: #222d4c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Khula", sans-serif;
  background-color: var(--background_darker);
  overflow-y: hidden;
}

.col-container {
  display: flex;
  width: 100%;
  height: 95vh;
  gap: 25px;
  padding: 20px;

  background: rgb(51, 63, 101);
  background: linear-gradient(
    190deg,
    rgba(51, 63, 101, 1) 0%,
    rgba(37, 48, 81, 1) 48%
  );
}

.col-title {
  font-family: "Mukta", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: capitalize;

  margin: 20px 0;
  padding: 20px;

  border-bottom: solid 1px var(--blue);

  color: white;
}

.col {
  height: 100%;
  background: rgb(59, 72, 110);
  border-radius: 10px;
}

.col1 {
  width: 30%;
  background-color: var(--background_dark);
}

.col2 {
  width: 50%;
  background-color: var(--background_darker);
}

.col3 {
  width: 30%;
  background-color: var(--background_dark);
  overflow: hidden;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.drop-shadow {
  -webkit-box-shadow: 4px 5px 15px 4px rgba(0, 0, 0, 0.28);
  box-shadow: 4px 5px 8px 4px rgba(0, 0, 0, 0.177);
}

.space-between {
  justify-content: space-between;
}

#main-site {
  width: 100vw;
  height: 100vh;
}

#header {
  background-color: blueviolet;
  width: 100%;
  height: 5vh;
}

#header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: var(--background_light);
}

#header i {
  position: relative;
  top: 3px;
  font-size: 1.2em;
  color: var(--white);
}

#header .logo {
  position: relative;
  top: 3px;
  text-decoration: none;
  color: var(--white);
  font-size: 1.2em;
}

#sighting-list {
  width: 100%;
  height: 85%;
  overflow: auto;
  list-style: none;
  background-color: var(--background_dark);
  padding: 20px;
}

.sighting {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  background-color: var(--background_light);

  padding: 10px;
  margin-bottom: 10px;

  border-radius: 10px;
}

.sighting p {
  width: 50%;
  color: var(--white);
  color: var(--blue_light);
}

#map-container {
  height: 100%;
  width: 100%;

  border-radius: 10px;

  display: flex;
  flex-direction: column;

  background-color: var(--background_dark);
}

#stats {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
}

#stats p {
  width: 50%;
  margin: 0 0 20px 0;
  color: var(--blue_light);
  font-size: 1em;
}

.sighting-form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: var(--blue_light);
}

.division {
  border-top: solid 1px var(--blue);
  margin: 5px 0 15px 0;
}

input {
  background-color: var(--background_dark);
  color: var(--white);
  border: none;
}

input::placeholder {
  color: var(--white);
}

select {
  background-color: var(--background_dark);
  color: var(--white);
  border: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:focus,
input:active,
select:focus,
select:active {
  outline: none;
}

input[type="submit"] {
  background: rgb(90, 187, 228);
  background: linear-gradient(
    150deg,
    rgba(90, 187, 228, 1) 21%,
    rgba(45, 126, 161, 1) 66%
  );
  padding: 10px;
  margin-top: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
}

#add-user-form-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 95vh;
}

#add_user, #update_user, #sign_in{
  height: 80%;
  width: 40%;

  display: flex;
  flex-direction: column;

  padding: 20px;

  border-radius: 25px 0 0 20px;

  background-color: var(--background_dark);
  color: var(--blue_light);
}

.add-color-section {
  height: 80%;
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  /* background: rgb(90, 187, 228);
  background: linear-gradient(
    150deg,
    rgba(90, 187, 228, 1) 21%,
    rgb(81, 86, 174) 66%
  ); */

  font-size: 1.8em;
  font-family: 'Pacifico', cursive;

  border-radius: 0 25px 25px 0;
}

.update-color-section {
  background: rgb(90, 187, 228);
  background: linear-gradient(
    150deg,
    rgb(153, 114, 201) 21%,
    rgb(129, 128, 218) 66%
  );
}

.icons-container {
  display: flex;
  gap: 15px;
}

#welcome {
  color: var(--white);
  font-size: 1em;
  font-weight: 500;
  font-family: 'Mukta', sans-serif;
}

#map {
  height: 80%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: var(--background_dark);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--background_dark);
  color: var(--white);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.2rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--background_dark);
}

.popup .leaflet-popup-content-wrapper {
  border-left: 10px solid var(--blue_light);
}

#sign_in a {
  color: var(--white);
  text-decoration: none;
  text-align: center;
  margin-top: 4px;
}

/* animated backgrounds */
.gradient-animate {
	background: linear-gradient(334deg, #da4ba1, #6391c9, #6643b2);
	background-size: 180% 180%;
	animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* animated backgrounds */

.hide {
  display: none;
}