@import url("https://fonts.googleapis.com/css2?family=Khula&family=Maven+Pro&family=Mukta&display=swap");

/* 
FONTS
font-family: 'Maven Pro', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Khula', sans-serif;
*/

:root {
  /* COLOR THEME */
  --white: rgb(255, 255, 255);
  --green_light: #247a4d;
  --green: #0f5132;
  --green_dark: #1d2e28;
  --background: #212224;
  --background_lighter: #303136;
}

* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--background);
  overflow-y: hidden;
}

/* SITE CONTAINER */
.flex_container {
  height: 100vh;
  display: flex;
  background-color: var(--background_lighter);
}

/* BRAND AREA */
.brand_area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.name {
  font-size: 3em;
  font-family: "Maven Pro", sans-serif;
  text-transform: capitalize;
  color: var(--white);
  position: relative;
  bottom: 5px;
}

.logo {
  height: 3em;
  transition: all 0.3s;
}

.logo:hover {
  height: 3em;
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(31deg)
    rotateZ(28deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg)
    skewY(1deg);
  transition: all 0.3s;
}

.user {
  height: 2em;
  transition: all 0.3s;
}

.user:hover {
  -moz-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.white_bar {
  height: 75%;
  width: 2px;
  background-color: var(--white);
}

.desc {
  font-family: "Khula", sans-serif;
  color: var(--white);
  font-size: 1.4em;
  position: relative;
  top: 3px;
}

/* FORM */
.form {
  background-color: var(--background_lighter);
  border-radius: 10px;

  padding: 15px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5%;

  -webkit-box-shadow: 6px 7px 18px -1px rgba(0, 0, 0, 0.55);
  box-shadow: 6px 7px 18px -1px rgba(0, 0, 0, 0.55);
}

.form_row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form_col {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_label {
  font-family: "Mukta", sans-serif;
  font-size: 1em;
  color: var(--white);
}

.form_input {
  border-radius: 10px;
  border-style: none;
  font-family: "Khula", sans-serif;
  font-size: 1em;
  width: 60%;
  padding-left: 5px;
  color: var(--white);
  background-color: var(--background);
}

.form_btn {
  font-family: "Mukta", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;

  color: var(--white);
  background-color: var(--green_light);
  background: linear-gradient(
    0deg,
    rgba(36, 122, 77, 1) 30%,
    rgba(20, 177, 95, 1) 96%
  );

  border: none;
  border-radius: 15px;

  width: 30%;

  transition: all 0.3s;
}

.form_btn:hover {
  cursor: pointer;
  font-size: 1.3em;
  width: 35%;
  transition: all 0.3s;
}

/* SIGHTINGS LIST */
.sighting {
  background-color: var(--background_lighter);
  border-radius: 10px;
  border-left: 15px solid #247a4d;

  padding: 20px;
  margin-bottom: 20px;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 30%;

  -webkit-box-shadow: 6px 7px 18px -1px rgba(0, 0, 0, 0.55);
  box-shadow: 6px 7px 18px -1px rgba(0, 0, 0, 0.55);
}

.sighting p {
  font-family: "Mukta", sans-serif;
  font-size: 1.3em;
  color: var(--white);
}

/* .sightings {
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 3%;
} */

/* MAP */
#map {
  flex: 1;
  height: 100vh;
  background-color: var(--background);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--background);
  color: var(--white);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.2rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--background);
}

.popup .leaflet-popup-content-wrapper {
  border-left: 10px solid var(--green_light);
}

/* HIDDEN CLASS */
.hidden {
  display: none;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--background_lighter);
  border-left: solid 15px var(--background);
}

/* NAV BAR */
nav {
  background: var(--background);
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: left;
  gap: 20px;
}

nav p {
  font-family: "Khula", sans-serif;
  color: var(--white);
  font-size: 1.3em;

  position: relative;
  top: 3px;
}

#sighting-list {
  background-color: #0f5132;
  /* overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 3%; */
}